body {
    font-family: 'Montserrat', system-ui, sans-serif;
    padding: 0;
    margin: 0;
}

header {
    background-color: #071E22;
}

.navbar {
    display: flex;
    padding: 8px 40px;
}

.logo {
    height: 100px;
    margin-right: auto;
}

.listaServicios {
    gap: 30px;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}

/*main*/

#hero {
    background-color: #35524A;
}

section {
    padding: 24px;
}

h1 {
    color: white;
    font-size: 4rem;
    text-align: center;

    span {
        color: #32DE8A;
    }
}

.servicio {
    line-height: 1.5;
    text-align: center;
    width: 300px;
    padding: 50px;

    img {
        width: 100%;
        aspect-ratio: 4 / 3;
        /* Relación de aspecto fija */
        object-fit: cover;
        border-top-right-radius: 15%;
        border-bottom-left-radius: 15%;
    }
}

#servicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/*footer*/
.links {
    background-color: #35524A;
    display: flex;
    justify-content: space-around;
    color: white;

    ul {
        list-style: none;
        padding: 0;

        a {
            color: white;
            text-decoration: none;
        }
    }
}